body
{
	font-family:"microsoft yahei";
	min-width: 950px;
	/*这个不能解决外边距溢出*/
	/*box-sizing: border-box;*/
}
.downArrowDiv{
	display: none;
}
#elevator{
	width: 3rem;
	height: 20rem;
	position: fixed;
	left: 1rem;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: rgba(0,0,0,.3);
	border-radius: 5px;
	transition: all .8s;
	opacity: 0;
	z-index: 3000;
	padding: 4rem 1rem;
}
#elevator ul{
	padding: 0;
}
#elevator li{
	width: 1rem;
	height: 1rem;
	background: rgba(255,255,255,.6);
	border-radius: 50%;
	margin: 1.3rem 0;
	transition: all .3s;
}
#elevator li a{
	height: 100%;
	width: 100%;
	display: block;
}
#elevator .elevatorActive{
	background: rgba(255,255,255,1);
	box-shadow: #fff 0 0 15px 4px;
}
.fl{
	float: left;
}
.liImg{
	display: inline-block;
}
.half{
	width: 50%;
	height: 100%;
}
ul{
	list-style: none;
}
.textAleft{
	text-align: left;
}
.banner{
	background:url("../images/10.jpg") no-repeat center;
	background-size:cover ;
	transition:all 1s;
	z-index: 2000;
}
.bannerDown
{
	width:100%;
	height:50px;
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
	margin:0 auto;
	border-radius:0;
}
.bannerUp
{
	width:90%;
	height:550px;
	position:relative;
	margin:3rem auto 4%;
	border-radius:40px;
}

.banner>.intro,.banner>.work
{
	text-decoration:none;
	color:#bbb;
	display:block;
	width:50%;
	height:100%;
	float: left;
	/*position:absolute;*/
	text-align:center;
	transition:all .8s ease-out;
}
.banner>.introUp,.banner>.workUp{
	font-size:4rem;
	line-height:550px;
}
.banner>.introDown,.banner>.workDown{
	font-weight: 800;
	font-size:1.7rem;
	line-height:50px;
	background:rgba(22,22,22,1);
	border-radius: 0;
}
.intro
{
	border-radius:40px 0 0 40px;
}
.work
{
	border-radius:0 40px 40px 0;
}
.banner>.intro:hover,.banner>.work:hover
{
	background:rgba(22,22,22,0.5);
	color:#fff;
	text-shadow: #fff 0 0 10px;
}
.bannerRoom{
	width:90%;
	height:260px;
}
.bannerRoomShow{
	animation: bannerRoom 1s;
}
@keyframes bannerRoom {
	0%{height: 650px}
	100%{height: 260px}
}
#other
{
	width:100%;
	height:20.5rem;
	background:url("../images/intro_bg.jpg");
	overflow:hidden;
	margin:0 auto;
}
#other ul
{
	list-style:none;
	width:100%;
	height:12rem;
	margin:30px auto 0;
	padding: 0;
	text-align: center;
	/*border:1px red solid;*/
}
#other li
{
	width:280px;
	height:120px;
	/*float:left;*/
	position:relative;
	/*border:1px green solid;*/
	margin:0 1rem;
	display: inline-block;
	
}


#other #hobby:hover #hobbyimg,#other #exp:hover #expimg,#other #ex1:hover #ex1img
{
	transform:scale(1.3);
	box-shadow:40px 40px 15px -30px #666;
}

#other a,#other a:link,#other a:active, #other a:visited
{
	text-decoration:none;
	display:block;
	height:100%;
	width:100%;
	color:#000;
}
#hobbyimg,#expimg,#ex1img,#ex2img
{
	width:120px;
	height:120px;
	/*background:url("");*/
	position:absolute;
	border-radius:50%;
	box-shadow:7px 7px 5px 0 #000;
	transition:all .7s;
}
#hobbyimg
{
	background:url("../images/serv_icon1.png");
	background-size:cover;
}
#expimg
{
	background:url("../images/serv_icon2.png");
	background-size:cover;
}
#ex1img
{
	background:url("../images/serv_icon4.png");
	background-size:cover;
}
/*#ex2img*/
/*{*/
	/*background:url("images/serv_icon4.png");*/
	/*background-size:100% 100%;*/
/*}*/

#hobbytext,#exptext,#ex1text
{
	position:absolute;
	left:150px;
	top:0;
	height: 100%;
}
#hobbytext h3,#exptext h3,#ex1text h3{
	line-height: 120px;
	margin: 0;
	padding: 0;
}

.footer
{
	text-align:center;
}
#ztyModal{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 3000;
	background: #000;
	padding-top: 15rem;
	text-align: center;
	color: #fff;
	transition: opacity .5s;
}



.ztypanel{
	width: 100%;
	/*background: #ccc;*/
}
.panelCtn{
	height: 45rem;
	background: -webkit-linear-gradient(top,#5F7C8A,#363F45);
	padding:3rem 8rem;
	box-sizing: border-box;
	overflow: hidden;
	color: #fff;
}
.panelCtn h3{
	/*text-align: center;*/
	font-size: 5rem;
	line-height: 6rem;
}
.panelCtn p{
	font-size: 1.3rem;
	line-height: 2.5rem;
}
.panelCtn1 h3.name{
	line-height: 33rem;
	text-align: center;
 }
.panelCtn.panelCtn3{
	padding: 0;
}
.bgPanel{
	/*需要后期修改*/
	height: 25rem;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	box-sizing: border-box;
	overflow: hidden;
	/*line-height: 20rem;*/
}
.bgPanel h3{
	line-height: 6rem;
}
.bgPanel1{
	background: url("../images/13.jpg") no-repeat center fixed;
	background-size: cover;
}
.bgPanel1 .hugeText{
	display: none;
}
.bgPanel2{
	background: url("../images/12.jpg") no-repeat center fixed;
	background-size: cover;
}
.bgPanel2 ul{
	/*margin: auto;*/
	/*padding: 0 20rem;*/
	width: 100%;
	text-align: center;
}
.bgPanel2 ul li{
	width: 10rem;
	margin: 0 2rem;
}
.bgPanel2 ul li p {
	border-bottom: 2px solid #fff;
}
.bgPanel3{
	background: url("../images/4.jpg") no-repeat center fixed;
	background-size: cover;
}
.bgPanel4{
	background: url("../images/11.jpg") no-repeat center fixed;
	background-size: cover;
}
.roundImg{
	height: 0;
	width: 0;
	border-radius: 50%;
	background: #fff url("../images/IDcard.png") no-repeat center;
	background-size: 13rem;
	box-shadow: #000000 8px 12px 53px -11px inset;
	margin: auto;
}
.socialImg{
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background: #fff;
	margin: 1rem auto;
	box-shadow: #fff 0 0 10px 0;
}
.socialImg1{
	background:#fff url("../images/weixinPaint.png") no-repeat center ;
	background-size: cover;
}
.socialImg2{
	background:#fff url("../images/githubPaint.png") no-repeat center ;
	background-size: cover;
}
.socialImg3{
	background:#fff url("../images/weiboPaint.jpg") no-repeat center ;
	background-size: cover;
}
.socialImg4{
	background:#fff url("../images/douPaint.png") no-repeat center ;
	background-size: cover;
}
.charts{
	height: 29rem;
	width: 50%;
	/*margin: 0;*/
}


.cardZoom{
	animation: cardZoom .8s forwards;
}
@keyframes cardZoom {
	100%{height: 25rem;width: 25rem}
}
/*.Cbg_zoomOut{*/
	/*animation: bg_zoomOut .3s forwards;*/
/*}*/
/*@keyframes bg_zoomOut {*/
	/*100%{background-size: 120%;}*/
/*}*/





.ztyModal{
	width: 100%;
	height: 100%;
	padding:3rem 8rem;
	box-sizing: border-box;
	background: rgba(0,0,0,.7);
	transition: background .3s;
}
.ztyModal:hover{
	background: rgba(0,0,0,.5);
}
.carousel-inner>.item>img{
	height: 45rem;
}
/*.carousel-inner>.carousel-caption{*/
	/*right: 0;*/
	/*left: 50%;*/
/*}*/
