a
{
	color: #333;
}
#cont
{
	width:1200px;
	height:1000px;
	margin:0 auto;
}
#mainwork
{
	width:90%;
	height:400px;
	margin:60px auto 0;
	position:relative;
	display: block;
	border: 1px solid transparent;
	transition: all .7s;
}
#mainworkimg
{
	width:450px;
	height:300px;
	position:absolute;
	top:50px;
	left:50px;
	background:url("../images/work_img/work_company.jpg");
	background-size: cover;
	transition: all .7s;
}
#mainworktext
{
	width:400px;
	height:200px;
	position:absolute;
	top:50px;
	right:40px;
	padding:50px;
	border-left:1px #555 solid;
	text-align:left;
	/*font-family:"microsoft yahei";*/
}
#mainworktext p{
	text-indent: 2rem;
}
#mainwork:hover
{
	border:1px solid #999;
	background: #eee;
}
/*#mainwork:hover #mainworkimg{*/
	/*transform: scale(1.05);*/
/*}*/
#otherwork
{
	width:100%;
	height:500px;
	
}
#otherwork>ul
{
	list-style:none;
}
#otherwork>ul>li
{
	/*border:1px red solid;*/
	width:50%;
	height:250px;
	float:left;
	box-sizing:border-box;
}
#otherwork>ul>li>a
{
	display:block;
	width:100%;
	height:100%;
	border:1px transparent solid;
	/*border-left:1px #999 solid;*/
	transition:all 0.7s ease-out;
}
#otherwork>ul>li>a:hover
{
	border:1px #999 solid;
	background: #eee;
}
#otherwork>ul>li>a .zhezhao
{
	height:100%;
	width:100%;
	background:#000;
	opacity:0.6;
	transition:all 1.3s;
}
#otherwork>ul>li>a:hover .zhezhao
{
	opacity:0;
}
#otherwork>ul>li>a:hover [id^=liimg]
{
	transform:scale(1.05);
}
/*#otherwork>ul>li>a:hover #litext1,#otherwork>ul>li>a:hover #litext2,#otherwork>ul>li>a:hover #litext3,#otherwork>ul>li>a:hover #litext4*/
/*{*/
	/*transform:scale(1.02);*/
/*}*/

/*#liimg1,#liimg2,#liimg3,#liimg4*/
/*原来可以这样优化 选择所有除了第一张以外的小图片*/
[id^=liimg]
{
	height:180px;
	width:300px;
	margin-top:35px;
	margin-left:25px;
	float:left;
	transition:all 0.4s ease-out;

	/*/!*background-size:100% 100%;*!//!*这玩意先写还不生效？？？*!/ 因为权值不够傻逼*/
}
#liimg1
{
	background:url("../images/work_img/work_banana.png") center;
	background-size: cover;
}
#liimg2
{
	background:url("../images/work_img/work_cube.png") center;
	background-size: cover;
}
#liimg3
{
	background:url("../images/work_img/work_jd1.png") center;
	background-size: cover;
}
#liimg4
{
	background:url("../images/work_img/work_jd2.png") center;
	background-size: cover;
}
#liimg5
{
	background:url("../images/work_img/work_hongbao.png") center;
	background-size: cover;
}
#liimg6
{
	background:url("../images/work_img/work_3dcontrol.png") center;
	background-size: cover;
}
#liimg7
{
	background:url("../images/work_img/work_halo.png") center;
	background-size: cover;
}
#liimg8
{
	background:url("../images/work_img/work_guitar.png") center;
	background-size: cover;
}
#liimg9
{
	background:url("../images/work_img/work_swim.png") center;
	background-size: cover;
}
#liimg10
{
	background:url("../images/work_img/work_dajidian.png") center;
	background-size: cover;
}
#liimg11
{
	background:url("../images/work_img/work_2048.png") center;
	background-size: cover;
}
#liimg12
{
	background:url("../images/work_img/work_login3D.png") center;
	background-size: cover;
}
#liimg13
{
	background:url("../images/work_img/work_saolei.png") center;
	background-size: cover;
}
#liimg14
{
	background:url("../images/work_img/work_sunAndEarth.png") center;
	background-size: cover;
}
#liimg15
{
	background:url("../images/work_img/work_paint.png") center;
	background-size: cover;
}

[id^=litext]
{
	height:120px;
	width:230px;
	margin-top:70px;
	margin-right:20px;
	float:right;
	text-align:left;
	font-family:"microsoft yahei";
	line-height:25px;
	/*border:1px red solid;*/
}
#backtotop
{
	display:block;
	width:82px;
	height:82px;
	position:fixed;
	right:10px;
	bottom:10px;
	background:url("../images/iconlist_2.png");
	background-position:-429px -589px;
}
#backtotop:hover
{
	background-position:-510px -589px;
}