body
{
	font-family:"microsoft yahei";
	/*这个不能解决外边距溢出*/
	/*box-sizing: border-box;*/
}
*
{
	margin:0;
	padding:0;
}

div
{
	/*border:1px red solid;*/
}

/*#header*/
/*{*/
	/*width:100%;*/
	/*height:60px;*/
/*}*/

/*#header>a*/
/*{*/
	/*display:block;*/
	/*float:right;*/
	/*width:50px;*/
	/*height:100%;*/
/*}*/

#banner
{
	width:90%;
	height:550px;
	position:relative;
	background:url("images/10.jpg") no-repeat center;
	background-size:100%;
	margin:3rem auto 4%;
	border-radius:40px;

}

#banner>#intro,#banner>#work
{
	text-decoration:none;
	color:#000;
	display:block;
	width:50%;
	height:100%;
	float: left;
	/*position:absolute;*/
	font-size:4rem;
	text-align:center;
	line-height:160px;
	transition:all 1s ease-out;
	
}
#banner>#intro
{
	border-radius:40px 0 0 40px;
}
#banner>#work
{
	border-radius:0 40px 40px 0;
}
#banner>#intro:hover,#banner>#work:hover
{
	background:rgba(22,22,22,0.5);
	/*opacity:0.6;*/
	color:#fff;

}


#ability
{
	margin:4% auto;
	width:90%;
	height:800px;
	color:#000;
	position:relative;
	text-align:center;
	line-height:150px;
	/*background:url("images/shadow.png");*/
	/*background-position:0 -10px no-repeat;*/
	cursor: default;

}
#ability>h1
{
	font-size:60pt;
}
#skill,#tianfu
{
	width:50%;
	height:80%;
	/*position:absolute;*/
	bottom:0;
	float: left;
	box-shadow:0 0 90px 10px #334455 inset;
	background:#556677;
	transition:all 2s;
	/*box-sizing: border-box;*/
	overflow: hidden;
}
#skill h3,#tianfu h3
{
	margin-top:50px;
	font-size: 3.5rem;;
}
#ability>#skill>h3,#ability>#tianfu>h3
{
	transition:all 0.5s;
}

#skill:hover,#tianfu:hover
{
	background:#778899;
	box-shadow:0 0 143px 34px #223344 inset;
}
#skill:hover h3,#tianfu:hover h3
{
	text-shadow:0 0 20px #fff;
}

#ability ul li
{
	float:left;
	background:#aa2222;
	border-radius:10%;
	width:22%;
	height:120px;
	margin:6% 5% ;
	opacity:0.3;
	transition:all 0.3s;
	line-height:120px;
	font-weight:bold;
	font-size:1.2rem;
	box-sizing: border-box;
	/*text-align: inherit;*/
}
#ability ul
{
	list-style:none;
}
#skill:hover li,#tianfu:hover li
{
	transform:translatey(30px);
	opacity:1;
}
#skill li:hover,#tianfu li:hover
{
	transform:scale(1.15) translatey(30px);
	box-shadow:0 0 20px 3px #fff;
}

#skill
{
	/*border:1px red solid;*/
	/*left:100px;*/
	border-radius:40px 0 0 40px ;
}
#tianfu
{
	/*border:1px red solid;*/
	/*right:100px;*/
	border-radius:0 40px 40px 0;
}
#other
{
	width:100%;
	height:250px;
	background:url("images/intro_bg.jpg");
	overflow:hidden;
	margin:5% auto 0;
}
#other ul
{
	list-style:none;
	width:1200px;
	height:210px;
	margin:30px auto;
	/*border:1px red solid;*/
}
#other li
{
	width:350px;
	height:200px;
	float:left;
	position:relative;
	/*border:1px green solid;*/
	margin:0 20px;
	
}

#other #hobby:hover #hobbyimg,#other #exp:hover #expimg,#other #ex1:hover #ex1img
{
	transform:scale(1.3);
	box-shadow:40px 40px 15px -30px #666;
}

#other a,#other a:link,#other a:active, #other a:visited
{
	text-decoration:none;
	display:block;
	height:100%;
	width:100%;
	color:#000;
}
#hobbyimg,#expimg,#ex1img,#ex2img
{
	width:150px;
	height:150px;
	/*background:url("");*/
	position:absolute; 
	left:25px;
	top:25px;
	text-align:left;
	border-radius:50%;
	box-shadow:7px 7px 5px 0 #000;
	transition:all 1s;
}
#hobbyimg
{
	background:url("images/serv_icon1.png");
	background-size:100% 100%;
}
#expimg
{
	background:url("images/serv_icon2.png");
	background-size:100% 100%;
}
#ex1img
{
	background:url("images/serv_icon4.png");
	background-size:100% 100%;
}
/*#ex2img*/
/*{*/
	/*background:url("images/serv_icon4.png");*/
	/*background-size:100% 100%;*/
/*}*/

#hobbytext,#exptext,#ex1text
{
	position:absolute;
	left:200px;
	top:40px;
}
#backtotop
{
	display:block;
	width:82px;
	height:82px;
	position:fixed;
	right:10px;
	bottom:10px;
	background:url("images/iconlist_2.png")no-repeat -429px -589px;

}
#backtotop:hover
{
	background-position:-510px -589px;
}
footer
{
	width:100%;
	height:60px;
	background:#ccc;
	text-align:center;
	line-height:30px;
}
#modal{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 2000;
	background: #000;
	padding-top: 15rem;
	text-align: center;
	color: #fff;
	transition: opacity .5s;
}
