body
{
	font-family:"microsoft yahei";
	/*这个不能解决外边距溢出*/
	/*box-sizing: border-box;*/
}
*
{
	margin:0;
	padding:0;
}
.banner{
	background:url("images/10.jpg") no-repeat center;
	background-size:100%;
	transition:all 1s;
	z-index: 2000;
}
.bannerDown
{
	width:100%;
	height:50px;
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
	margin:0 auto;
	border-radius:0;
}
.bannerUp
{
	width:90%;
	height:550px;
	position:relative;
	margin:3rem auto 4%;
	border-radius:40px;
}

.banner>.intro,.banner>.work
{
	text-decoration:none;
	color:#bbb;
	display:block;
	width:50%;
	height:100%;
	float: left;
	/*position:absolute;*/
	text-align:center;
	transition:all .8s ease-out;
}
.banner>.introUp,.banner>.workUp{
	font-size:4rem;
	line-height:550px;
}
.banner>.introDown,.banner>.workDown{
	font-weight: 800;
	font-size:1.2rem;
	line-height:50px;
	background:rgba(22,22,22,1);
	border-radius: 0;
}
.intro
{
	border-radius:40px 0 0 40px;
}
.work
{
	border-radius:0 40px 40px 0;
}
.banner>.intro:hover,.banner>.work:hover
{
	background:rgba(22,22,22,0.5);
	color:#fff;
	text-shadow: #fff 0 0 10px;
}
.bannerRoom{
	width:90%;
	height:260px;
}
.bannerRoomShow{
	animation: bannerRoom 1s;
}
@keyframes bannerRoom {
	0%{height: 650px}
	100%{height: 260px}
}
#other
{
	width:100%;
	height:250px;
	background:url("images/intro_bg.jpg");
	overflow:hidden;
	margin:0 auto;
}
#other ul
{
	list-style:none;
	width:1200px;
	height:210px;
	margin:30px auto;
	/*border:1px red solid;*/
}
#other li
{
	width:350px;
	height:200px;
	float:left;
	position:relative;
	/*border:1px green solid;*/
	margin:0 20px;
	
}

#other #hobby:hover #hobbyimg,#other #exp:hover #expimg,#other #ex1:hover #ex1img
{
	transform:scale(1.3);
	box-shadow:40px 40px 15px -30px #666;
}

#other a,#other a:link,#other a:active, #other a:visited
{
	text-decoration:none;
	display:block;
	height:100%;
	width:100%;
	color:#000;
}
#hobbyimg,#expimg,#ex1img,#ex2img
{
	width:150px;
	height:150px;
	/*background:url("");*/
	position:absolute; 
	left:25px;
	top:25px;
	text-align:left;
	border-radius:50%;
	box-shadow:7px 7px 5px 0 #000;
	transition:all 1s;
}
#hobbyimg
{
	background:url("images/serv_icon1.png");
	background-size:100% 100%;
}
#expimg
{
	background:url("images/serv_icon2.png");
	background-size:100% 100%;
}
#ex1img
{
	background:url("images/serv_icon4.png");
	background-size:100% 100%;
}
/*#ex2img*/
/*{*/
	/*background:url("images/serv_icon4.png");*/
	/*background-size:100% 100%;*/
/*}*/

#hobbytext,#exptext,#ex1text
{
	position:absolute;
	left:200px;
	top:40px;
}
#backtotop
{
	display:block;
	width:82px;
	height:82px;
	position:fixed;
	right:10px;
	bottom:10px;
	background:url("images/iconlist_2.png")no-repeat -429px -589px;

}
#backtotop:hover
{
	background-position:-510px -589px;
}
footer
{
	width:100%;
	height:60px;
	background:#ccc;
	text-align:center;
	line-height:30px;
}
#modal{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 3000;
	background: #000;
	padding-top: 15rem;
	text-align: center;
	color: #fff;
	transition: opacity .5s;
}



.panel{
	width: 100%;
	/*background: #ccc;*/
}
.panelCtn{
	height: 35rem;
	background: -webkit-linear-gradient(top,#5F7C8A,#363F45);

/*需要后期修改*/
	color: #fff;
	text-align: center;
	font-size: 3rem;
	line-height: 35rem;
}
.bgPanel{
	/*需要后期修改*/
	height: 20rem;
	color: #fff;
	text-align: center;
	font-size: 2rem;
	line-height: 20rem;
}
.bgPanel1{
	background: url("images/7.jpg") no-repeat center fixed;
	background-size: 100%;
}
.Cbg_zoomOut{
	animation: bg_zoomOut .3s forwards;
}
@keyframes bg_zoomOut {
	100%{background-size: 120%;}
}
.bgPanel2{
	background: url("images/4.jpg") no-repeat center fixed;
	background-size: cover;
}
.bgPanel3{
	background: url("images/5.jpg") no-repeat center fixed;
	background-size: cover;
}
.bgPanel4{
	background: url("images/3.jpg") no-repeat center fixed;
	background-size: cover;
}
.modal{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	transition: background .3s;
}
.modal:hover{
	background: rgba(0,0,0,.3);
}