*
{
	margin:0;
	padding:0;
	font-family:"microsoft yahei";
}

#cont
{
	position:fixed;
	z-index:100;
	left:120px;
	top:20px;
	width:100%;
	/*border:1px blue solid;*/
}

.bla
{
	background:#000;
	width:100%;
	height:800px;	
}
.whi
{
	background:#fff;
	width:100%;
	height:800px;
}
.gray
{
	background:#888;
	width:100%;
	height:800px;
	position:relative;
	z-index:200;
}
.blafont
{
	color:#000;
}
.whifont
{
	color:#fff;
}
.fontmax
{
	font-size:60pt;
}
.fontbig
{
	font-size:29pt;
}
.fontmid
{
	font-size:12pt;
}
.fontsmall
{
	font-size:6pt;
}
.fontmicro
{
	font-size:1pt;
}
#contimg1
{
	height:450px;
	width:450px;
	position:absolute;
	right:200px;
	top:90px;
	/*border:1px red solid;*/
	z-index:200;
}
.graytext
{
	position:absolute;
	left:120px;
	top:70px;
}